/* main */
body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

body h1 {
    text-align: center;
    font-size: 60px;
}

body p {
    text-align: center;
    font-size: 20px;
}

/* background */
.sec1 {
    height: 50vh;
    background-color: white;
    background-attachment: fixed;
}

.sec2 {
    height: 50vh;
    background-color: coral;
    background-attachment: fixed;
}

.up-a-level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* tabs */

.tabs {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: coral;
}

/*.tabs:hover {
	border-color: black;
}*/

.tabs > .tab {
    border-style: solid;
    border-color: coral;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.tabs > .tab:hover {
    background-color: coral;
    border-color: black;
    cursor: pointer;
}

.tabs > .tab.selected {
    background-color: black;
    border-color: coral;
    color: coral;
    cursor: pointer;
}

.tabs > .tab.selected:hover {
    border-color: black;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.selected {
    display: block;
}

/* day container */

.container {
    position: relative;
    height: 400px;
    width: 100%;
}

.box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    margin: 15px;
    background: coral;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover {
    cursor: pointer;
}

.container .box:hover .icon {
    top: 10px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.container .box .icon h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    /*transform: 0.5s;*/
    color: coral;
    text-align: center;
}

.container .box:hover .icon h2 {
    font-size: 30px;
    color: white;
}

.container .box .content {
    position: absolute;
    top: 250px;
    height: (100% -50px);
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.container .box:hover .content {
    top: 95px;
    opacity: 1;
}