* {
	margin: 0;
	padding: 0;
}

body {
	/*background: url(../images/t1.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Ruslan Display', cursive;
}

body > h1 {
	font-size: 5vw;
	position: absolute;
	top: 38%;
	left: 20%;
	text-align: center;
}

.navbar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 50%;
	position: absolute;
	top: 50%;
	left: 25%;
}

.navbar-item {
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.navbar-item > img {
	height: 100%;
	width: 100%;
	cursor: pointer;
	transform: rotateY(0);
	transition: all .5s ease;
}

.navbar-item:hover > img {
	transform: rotateY(180deg);
}

.navbar-item > i {
	font-size: 4vw;
	transform: rotateY(0);
	transition: all .5s ease;
	z-index: -1;
}

.navbar-item:hover > i {
	transform: rotateY(90deg);
}

.navbar-item > h1 {
	font-size: 3vw;
	transform: rotateX(90deg);
	transition: all .5s ease;
}

.navbar-item:hover > h1 {
	transform: rotateX(0);
}