body {
	margin: 0;
	padding: 0;
	font-family: san-serif;
}

.container {
	position: relative;
	height: 1200px;
	width: 300px;
}

.container > .box {
	position: relative;
	width: calc(300px - 30px);
	height: calc(200px - 30px);
	margin: 15px;
	background: coral;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.container .box .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	transition: 0.5s;
	z-index: 1;
}

.container .box:hover .icon {
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.container .box .icon .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transform: 0.5s;
	color: coral;
}

.container .box:hover .icon .fa {
	font-size: 60px;
}

.container .box .content {
	position: absolute;
	top: 100px;
	height: (100% - 50px);
	text-align: left;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.container .box:hover .content {
	top: 50px;
	opacity: 1;
}