html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* navbar */
.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    z-index: 100;
    background-color: white;
    border: 1px dotted transparent;
    border-bottom: .01em #e5e5e5 solid;
}

.nav img {
    float: left;
    height: 100px;
    opacity: 0.3;
}

.nav h1 {
    color: #032743;
    position: relative;
    left: -50px;
}

.nav h2 {
    position: relative;
    color: #d2d2d2;
    font-size: 25px;
    left: -50px;
}

.menu-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 50px 0 0;
}

.menu-buttons > button {
    font-family: Arial, Helvetica, sans-serif;
}

.header-podcast {
    position: relative;
    display: none;
    color: #d2d2d2;
    font-size: 25px;
    /*margin-left: 250px;*/
}

/* section */
section {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    border-bottom: .01em #d2d2d2 solid;
    color: #d2d2d2;
}

.box1 {
    background-color: #073E5D;
}

.box2 {
    background-color: #032743;
}

/* bottom navbar */
.bottom-nav {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    border-top: .01em #e5e5e5 solid;
    z-index: 100;
    background-color: white;
}

.wander-nav {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* buttons */
button:hover {
    cursor: pointer;
}

.close-button {
    display: none;
    height: 50px;
    width: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
    background: #073E5D linear-gradient(75deg, #032743, #073E5D);
    border-radius: 50%;
}

.hamburger-button {
    height: 50px;
    width: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
    background: #073E5D linear-gradient(75deg, #032743, #073E5D);
    border-radius: 50%;
    transform: rotateX(0);
}

.wander-button {
    height: 50px;
    width: 200px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
    background: #073E5D linear-gradient(75deg, #032743, #073E5D);
    border-radius: 25px;
    transform: translate(0, 50%);
}

/* Media */
@media only screen and (max-width: 600px){
    .nav > img {
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .nav {
        text-align: left;
    }

    .nav h1 {
        left: 10px;
    }

    .nav h2 {
        left: 50px;
    }
}