body {
	margin: 0;
	padding: 0;
}

background-top {
	height: 20%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 150px;
	background-image: url(../images/t1.jpg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-filter: grayscale(100%);
	filter: gray;
}

background-bottom {
	height: 80%;
	position: absolute;
	width: 100%;
	top: 20%;
	left: 150px;
	background-image: url(../images/t1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

nav-grid {
	display: grid;
	height: 100%;
	width: 150px;
	grid-template-rows: repeat(5, 1fr);
}

.typewriteText {
	font-family: 'Inconsolata', monospace;
    font-size: 75px;
	color: white;
	position: absolute;
	top: 17.5%;
	left: 20%;
	z-index: 1;
}

.nav-button {
	border-radius: 10px;
	border-style: solid;
	border-color: coral;
	text-align: center;
	line-height: 50px;
}