body {
	margin: 0;
	padding: 0;
    overflow: hidden;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 10vw;
}

/* header text */
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 55vw;
    z-index: 100;
    line-height: 100%;
    text-align: left;
    vertical-align: middle;
    padding: 25px;
}

.header-wander {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 6vw;
}

.header-podcast {
    font-family: 'Courgette', cursive;
    text-decoration: none;
    font-size: 4vw;
}

.footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: #032743;
}

.section-item {
	text-align: center;
	vertical-align: middle;
}

.section-item > i {
	transform: translateY(30%);
	font-size: 7vw;
}

@media only screen and (min-width: 768px) {
	.footer {
		display: none;
	}
}