.container-fluid {
	height: 100vh;
}

.header {
	height: 50vw;
	position: relative;
	background: linear-gradient(
        50deg,
    	rgba(3, 39, 67, 1),
    	rgba(3, 39, 67, 0.45)
    ), url(../images/blue-background.jpg) no-repeat;
    text-align: center;
}

.header:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(to right, white 50%, 
    	rgba(3, 39, 67, 0.2) 50%) repeat-x;
	background-size: 50px 50px;
}
.header:after {
	content: '';
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(to right,  
    	rgba(3, 39, 67, 0.2) 50%,
    	white 50%) repeat-x;
	background-size: 50px 50px;
}

.header > h1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 15vw;
}

@media screen and (min-width: 768px) {
	.header > h1 {
		font-size: 100px;
	}
}

@media screen and (min-width: 595px) and (max-width: 1012px) {
	.header {
		max-height: 300px;
	}
}

@media screen and (min-width: 1013px){
	.header {
		max-height: 200px;
	}
}